<h2>アカウント情報更新 </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, "アカウント名" %>
    <%= f.text_field :name , autocomplete: "name"%>
  </div>

  <div class="field">
    <%= f.label :grade, "学年" %>
    <%= f.select :grade, %w[学部1年 学部2年 学部3年 学部4年 院生1年 院生2年 院生3年 院生4年 院生5年] , autocomplete: "grade"%>
  </div>

  <div class="field">
    <%= f.label :introduction, "紹介文" %>
    <%= f.text_area :introduction , maxlength: 1000, autocomplete: "introduction", rows: 5, cols: 50%>
  </div>

<!--  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
-->

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password , "パスワード"%> <i>(空欄のままなら、パスワードは変わりません。)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %>文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation , "確認"%>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password , "現在のパスワード"%> <i>(更新の認証のために必要になります)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= link_to "戻る", :back %>
