<!-- 16t4032n 田中裕隆 -->
<h2>結果選択</h2>

<table width="100%">
  <tr>
    <td>
      <div class="box">
        <table width="100%" border="3" rules="none">
          <tr>
            <td colspan="3">
              --返信先--
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to account_show_path(@recruitment.account.acc_id) do %>
                <%= @recruitment.account.name %>👤
              <% end %>
            </td>
            <td>
              <%= @recruitment.acc_id %>
            </td>
            <td>
              <%= @recruitment.created_at %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <% if @recruitment.re_id == '募集'%>
                <div><%= @recruitment.title %></div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= simple_format(@recruitment.detail) %>
            </td>
          </tr>
          <% if @recruitment.resolved == '解決' %>
            <tr>
              <td colspan="3">
                <%= simple_format(@recruitment.answer) %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <table width="100%" border="3" rules="none">
        <tr>
          <td>
            <div style="height:50vh; overflow-y:scroll;">
              <table width="100%">
                <tr>
                  <td>
                    <div id="add_results">
                      <%= render partial: "result", collection: @comments %>
                    </div>
                    <table width="100%">
                      <tr>
                        <td>
                          <div id="request_add_results">
                            <%= render partial: 'recruitments/read_button', locals: {recruitment_id: params[:id], last_comment: @comments.last, offset_time: nil } %>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <div id="decide_answer">
        <%= render partial: 'recruitments/decide_answer', locals: {recruitment: @recruitment, answer: nil} %>
      </div>
    </td>
  </tr>

</table>
