<p id="notice"><%= notice %></p>

<p>
  <strong>Post time:</strong>
  <%= @recruitment.post_time %>
</p>

<p>
  <strong>Update time:</strong>
  <%= @recruitment.update_time %>
</p>

<p>
  <strong>Acc:</strong>
  <%= @recruitment.acc_id %>
</p>

<p>
  <strong>Chat:</strong>
  <%= @recruitment.chat_id %>
</p>

<p>
  <strong>Resolved:</strong>
  <%= @recruitment.resolved %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recruitment.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @recruitment.detail %>
</p>

<p>
  <strong>Ans com:</strong>
  <%= @recruitment.ans_com_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @recruitment.integer %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @recruitment.answer %>
</p>

<p>
  <strong>File:</strong>
  <%= @recruitment.file_id %>
</p>

<%= link_to 'Edit', edit_recruitment_path(@recruitment) %> |
<%= link_to 'Back', recruitments_path %>
