
<div class="comment">
  <table width="100%" border="3" rules="none">
    <tr>
      <td><%= link_to account_show_path(comment.account.acc_id) do %>
          <%= comment.account.name %>
        <% end %>
      </td>
      <td>
        <%= comment.account.acc_id %>
      </td>
      <td><%= comment.created_at %></td>
    </tr>
    <tr>
      <td colspan="3"><%= simple_format(comment.message) %></td>
    </tr>
    <tr>
      <td colspan="3">
        <% if comment.account.id == current_account.id %>
          <%= button_to '削除', comment, method: :delete, data: { confirm: '返信を本当に削除しますか?' } %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
