<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= comment.errors.count %> 個のエラーがあります</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="form" align="left">
    <td>
      <%= form.label :発言 %>
      <%= form.text_area :message %>
      <%= form.hidden_field :recruitment_id, value: comment.recruitment_id %>
    </td>
    <td>
      <div class="actions">
        <%= form.submit '送信' %>
      </div>
    </td>

  </table>

<% end %>