<!-- 16t4032n 田中裕隆 -->
<%= stylesheet_link_tag "button.css", :media => "all" %>
<span class="button_style1"><span class="form_style1">
<h2>返信一覧</h2>
<table width="100%">
  <tr>
    <td>
      <div class="box">
        <div>
          --返信先--
        </div>
        <% if @recruitment.re_id == '募集'%>
          <div><%= @recruitment.title %></div>
        <% end %>
        <span>
          <%= link_to account_show_path(@recruitment.account.acc_id) do %>
            <%= @recruitment.account.name %>
          <% end %>
        </span>
        <span>
          <%= @recruitment.account.acc_id %>
        </span>
        <span>
          <%= @recruitment.created_at %>
        </span>
        <div><%= @recruitment.detail %></div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div style="height:50vh; overflow-y:scroll;">
        <table width="100%">
          <tr>
            <td>
              <div id="add_comments">

                <%= render partial: "comment", collection: @comments %>

              </div>
              <table width="100%">
                <tr>
                  <td>
                    <div id="request_add_comments">
                      <%= render partial: 'comments/read_button', locals: {recruitment_id: params[:recruitment_id], last_comment: @comments.last, offset_time: nil } %>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>

  <tr>
    <td>

    </td>
  </tr>

  <tr>
    <td>
      <%= render 'comments/new', comment: @comment %>
    </td>
  </tr>

</table>
</span></span>