<!-- 16t4032n 田中裕隆 -->


<h2>返信一覧</h2>
<table width="100%">
  <tr>
    <td>
      <div class="box">
        <table width="100%" border="3" rules="none">
          <tr>
            <td colspan="3">
              --返信先--
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to account_show_path(@recruitment.account.acc_id) do %>
                <%= @recruitment.account.name %>👤
              <% end %>
            </td>
            <td>
              <%= @recruitment.acc_id %>
            </td>
            <td>
              <%= @recruitment.created_at %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <% if @recruitment.re_id == '募集'%>
                <div><%= @recruitment.title %></div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= simple_format(@recruitment.detail) %>
            </td>
          </tr>
          <% if @recruitment.resolved == '解決' %>
            <tr>
              <td colspan="3">
                <%= simple_format(@recruitment.answer) %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <table width="100%" border="3" rules="none">
        <tr>
          <td>
            <div style="height:50vh; overflow-y:scroll;">
              <table width="100%">
                <tr>
                  <td>
                    <div id="add_comments">

                      <%= render partial: "comment", collection: @comments %>

                    </div>
                    <table width="100%">
                      <tr>
                        <td>
                          <div id="request_add_comments">
                            <%= render partial: 'comments/read_button', locals: {recruitment_id: params[:recruitment_id], last_comment: @comments.last, offset_time: nil } %>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>

    </td>
  </tr>

  <tr>
    <td>
      <%= render 'comments/new', comment: @comment %>
    </td>
  </tr>

</table>
</span></span>