<p id="notice"><%= notice %></p>

<p>
  <strong>Post time:</strong>
  <%= @comment.post_time %>
</p>

<p>
  <strong>Update time:</strong>
  <%= @comment.update_time %>
</p>

<p>
  <strong>Acc:</strong>
  <%= @comment.acc_id %>
</p>

<p>
  <strong>Com:</strong>
  <%= @comment._com_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @comment.message %>
</p>

<p>
  <strong>File:</strong>
  <%= @comment.file_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
