<p id="notice"><%= notice %></p>

<h1 align="left">チャット画面</h1>
<table class="button" >
  <%= button_to '参加者', members_path, method: :get %>
</table>
<table>

  <tbody>
    <% @chat_comments.each do |chat_comment| %>
      <tr>
        <td><%= chat_comment.id %></td>
        <td><%= chat_comment.chat_id %></td>
        <td><%= chat_comment.acc_id %></td>
        <td><%= chat_comment.time %></td>
        <td><%= chat_comment.comment %></td>
        <td><%= chat_comment.file_id %></td>
        <td><%= link_to '削除', chat_comment, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'form', chat_comment: @chat_comment %>
