<%= stylesheet_link_tag "box.css", :media => "all" %>
<p id="notice"><%= notice %></p>

<h1 align="left">チャット画面</h1>
<table class="button" >
  <div class="button1">
    <div class="on">
  <%= button_to '参加者', members_path(@chat_num), method: :get %>
    </div>
  </div>
  <br>
  <br>
</table>
<table>
    <% @chat_comments.each do |chat_comment| %>
      <div class="box_comment">
        <span class="box_comment2"><%= chat_comment.acc_id %></span>
        <span class="box_comment2"><%= chat_comment.time %></span>
        <div class="box_comment2"><%= chat_comment.comment %></div>
        <% if current_account.acc_id == chat_comment.acc_id  || current_account.acc_id == 'administrator' %>
          <div class="box_comment2"><%= link_to '削除', chat_comment, method: :delete, data: { confirm: '本当に削除しますか?' } %></div>
        <%end %>
      </div>
    <% end %>
</table>

<br>

<%= render partial: 'form', locals:{chat_comment: @chat_comment, chat_num: @chat_num} %>
