<%= stylesheet_link_tag "box.css", :media => "all" %>
<p id="notice"><%= notice %></p>

<h1 align="left">チャット画面</h1>
<table class="button" >
  <div class="button1">
    <div class="on">
  <%= button_to '参加者', members_path(@chat_num), method: :get %>
    </div>
  </div>
  <br>
  <br>
</table>
<table>

  <tbody>
    <% @chat_comments.each do |chat_comment| %>
      <tr>
        <td><%= chat_comment.id %></td>
        <td><%= chat_comment.chat_id %></td>
        <td><%= chat_comment.acc_id %></td>
        <td><%= chat_comment.time %></td>
        <td><%= chat_comment.comment %></td>
        <td><%= chat_comment.file_id %></td>
        <% if current_account.acc_id == chat_comment.acc_id  || current_account.acc_id == 'administrator' %>
          <td><%= link_to '削除', chat_comment, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render partial: 'form', locals:{chat_comment: @chat_comment, chat_num: @chat_num} %>
