<%= stylesheet_link_tag "box.css", :media => "all" %>
<div class="button">
  <table  align="left" ><tr><td>
    <% if @home_button == '1' %>
      <div class="on">
        <%= button_to '自身のコメント', home_button_path(acc_id,'1'), method: :get, disabled: :disabled %>
      </div>
    <% else %>
      <%= button_to '自身のコメント', home_button_path(acc_id, '1'), method: :get %>
    <% end %>
  </td></tr></table>
  <table class="button" align="left"><tr><td>
    <% if @home_button == '2' %>
      <div class="on">
        <%= button_to 'ブックマーク', home_button_path(acc_id, '2'), method: :get, disabled: :disabled %>
      </div>
    <% else %>
      <%= button_to 'ブックマーク', home_button_path(acc_id, '2'), method: :get %>
    <% end %>
  </td></tr></table>
  <table class="button" align="left"><tr><td>
    <% if @home_button == '3' %>
      <div class="on">
        <%= button_to '参加中のチャット一覧', home_button_path(acc_id, '3'), method: :get, disabled: :disabled %>
      </div>
    <% else %>
      <%= button_to '参加中のチャット一覧', home_button_path(acc_id, '3'), method: :get %>
    <% end %>
  </td></tr></table>
</div>
<br>
