
<h2>自身のコメント一覧</h2>

<table>
  <% @recruitments.each do |recruitment| %>
    <div class="box">
      <% if recruitment.re_id == '募集'%>
        <div><%= recruitment.title %></div>
      <% end %>
      <span><%= recruitment.created_at %></span>
      <span><%= link_to account_show_path(recruitment.acc_id) do %>
         <%= Account.find_by(acc_id: recruitment.acc_id).name %>
        <% end %>
         </span>
      <span>
      <%= link_to '返信📨', comments_index_path(recruitment.id), method: :get  %>
        </span>
      <span>
        <% if account_signed_in? %>
          <% if current_account.acc_id == recruitment.acc_id %>
            <% if recruitment.re_id == '募集'%>
              <% if  recruitment.resolved == '未解決' %>
                <%= link_to '募集結果選択', root_path(recruitment.id), method: :get  %>
              <% end %>
              <% if  recruitment.resolved == '解決'  && (current_account.acc_id == recruitment.acc_id || EntryChat.where(chat: recruitment.id).find(acc_id: current_account.acc_id) != nil) %>
             <span>
               <%= link_to 'チャット', root_path(recruitment.id), method: :get  %>
             </span>
            <% end %>
            <%end %>
            <%= link_to '削除🚮', recruitment, method: :delete, data: { confirm: '削除しますか?' } %>
          <%end %>
        <% end %>
        </span>
      <div><%= recruitment.detail %></div>
      <br>
    </div>
  <% end %>
</table>