<%= stylesheet_link_tag "box.css", :media => "all" %>
<p id="notice"><%= notice %></p>
<table>
  <tbody>
  <% entry_chats.each do |entry_chat| %>
    <tr>
      <td><%= entry_chat.recruitment.title %></td>
      <td>
        <div class="button1">
          <div class="on">
            <%= button_to 'チャットへ', chat_comments_index_path(entry_chat.recruitment.id), method: :get %>
          </div>
        </div>
      </td>
    </tr>
    <td><%= entry_chat.recruitment.detail  %></td>
  <% end %>
  </tbody>
</table>