<%= stylesheet_link_tag "box.css", :media => "all" %>
<p id="notice"><%= notice %></p>
  <% entry_chats.each do |entry_chat| %>
    <table width="100%"  class="box_comment">
      <% if entry_chat.recruitment.resolved == "è§£æ±º" %>
        <tr>
          <td class="box-title" colspan="2"><%= entry_chat.recruitment.title %></td>
          <td>
            <div class="button1">
              <div class="on">
                <%= button_to 'ãƒãƒ£ãƒƒãƒˆã¸ðŸ’­', chat_comments_index_path(entry_chat.recruitment.id), method: :get %>
              </div>
            </div>
          </td>
        </tr>
        <td class="box_comment3"><%= entry_chat.recruitment.detail  %></td>
      <% end %>
    </table>
<% end %>
