
<h2> アカウント情報 </h2>

<% if account_signed_in? %>
  アカウントID：<%= current_account.acc_id %><br />
  アカウント名：<%= current_account.name %><br />
  大学名：<%= current_account.university %><br />
  学部名：<%= current_account.faculty %><br />
  学科名：<%= current_account.department %><br />
  学年：<%= current_account.grade %><br />
  紹介文：<%= simple_format(current_account.introduction) %><br />

  <%= link_to "アカウント情報更新", edit_account_registration_path %>
<% end %>
<br>
<%= render 'button' %>

<% if $home_button == '1' %>
<%= render 'view', recruitment: @recruitment %>
<% end %>
<% if $home_button == '2' %>
<%= render 'view_c',entry_chats: @entry_chats %>
<% end %>