
<h2> アカウント情報 </h2>

アカウントID：<%= @account.acc_id %><br />
アカウント名：<%= @account.name %><br />
大学名：<%= @account.university %><br />
学部名：<%= @account.faculty %><br />
学科名：<%= @account.department %><br />
学年：<%= @account.grade %><br />
紹介文：<%= simple_format(@account.introduction) %><br />

<%= link_to "アカウント情報更新", edit_account_registration_path %>
<% if account_signed_in? %>
  <% if current_account.id == @account.id or current_account.acc_id == 'administrator' %>
    <%= link_to "アカウント削除", account_delete_path(current_account.acc_id) %>
  <% end %>
<% end %>

<br>
  <div>
    <%= render 'button', acc_id: @account.acc_id %>
  </div>
<br>
<br>
<% if @home_button == '1' %>
    <div id="button_v2">
      <%= render 'home/button_v', view_num: @view_num, acc_id: @account.acc_id %>
    </div>
  <div class="box3" id="button_v3">
    <%= render 'mains/view_t', recruitments: @recruitments %>  <!--個人の発言-->
  </div>
<% elsif @home_button == '2' %>
  <%= render 'view_c',entry_chats: @entry_chats %> <!--ブックマーク-->
<% elsif @home_button == '3' %>
  <%= render 'view_c',entry_chats: @entry_chats %> <!--チャット一覧-->
<% end %>
