
<h2> アカウント情報 </h2>
<div  id="account_info_space">
  <table width="100%">
    <tr>
      <td width="50%" style="padding: 17px 0 0 4px;">
        <div class="account_info_content">
          <table>
            <tr>
              <td width="80px">アカウント名</td>
              <td><%= @account.name %></td>
            </tr>
            <tr>
              <td width="80px">ID</td>
              <td><%= @account.acc_id %><td>
            </tr>
          </table>
        </div>
      </td>
      <td rowspan="2">
        <p class="account_info_index">所属</p>
        <div class="account_info_content">
          <table>
            <tr>
              <td width="40px">大学</td>
              <td><%= @account.university %></td>
            </tr>
            <tr>
              <td width="40px">学部</td>
              <td><%= @account.faculty %><td>
            </tr>
            <tr>
              <td width="40px">学科</td>
              <td><%= @account.department %><td>
            </tr>
            <tr>
              <td width="40px">学年</td>
              <td><%= @account.grade %><td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td height="25px">
        <% if account_signed_in? %>
          <% if current_account.id == @account.id or current_account.acc_id == 'administrator' %>
            <table width="100%">
              <tr>
                <% if current_account.acc_id != 'administrator' %>
                  <td style="padding-left: 20px">
                    <%= button_to "アカウント情報更新", edit_account_registration_path , method: :get%>
                  </td>
                <% end %>
                <td>
                  <%= button_to "アカウント削除", account_delete_path(@account.acc_id) , method: :get%>
                </td>
              </tr>
            </table>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
  <p class="account_info_index">紹介文</p>
  <div class="account_info_content" id="account_info_content-intro">
    <%= simple_format(@account.introduction) %>
  </div>
</div>

<br>
  <div>
    <%= render 'button', acc_id: @account.acc_id %>
  </div>
<br>
<br>
<% if @home_button == '1' %>
    <div id="button_v2">
      <%= render 'home/button_v', view_num: @view_num, acc_id: @account.acc_id %>
    </div>
  <div class="box3" id="button_v3">
    <%= render 'mains/view_t', recruitments: @recruitments %>  <!--個人の発言-->
  </div>
<% elsif @home_button == '2' %>
  <%= render 'mains/view_t',recruitment: @recruitments %> <!--ブックマーク-->
<% elsif @home_button == '3' %>
  <%= render 'view_c',entry_chats: @entry_chats %> <!--チャット一覧-->
<% end %>
