
<table class="button" align="left" >
  <% if $view_num == '1' %>
  <%= button_to 'タイムライン', mains_button_path(1), method: :get, disabled: :disabled %>
    <% else %>
    <%= button_to 'タイムライン', mains_button_path(1), method: :get %>
  <% end %>
</table>
<table class="button" align="left">
  <% if $view_num == '2' %>
  <%= button_to '発言', mains_button_path(2), method: :get, disabled: :disabled %>
  <% else %>
    <%= button_to '発言', mains_button_path(2), method: :get %>
  <% end %>
    </table>
<table class="button" align="left">
  <% if $view_num == '3' %>
  <%= button_to '募集', mains_button_path(3), method: :get, disabled: :disabled %>
  <% else %>
    <%= button_to '募集', mains_button_path(3), method: :get %>
  <% end %>
</table>
<table class="button" align="left">
  <% if $view_num == '4' %>
  <%= button_to '募集解決済み', mains_button_path(4), method: :get, disabled: :disabled %>
  <% else %>
    <%= button_to '募集解決済み', mains_button_path(4), method: :get %>
  <% end %>
</table>