<h2>ç™ºè¨€å…¥åŠ›ãƒ•ã‚©ãƒ¼ãƒ äºˆå®šåœ°</h2>

<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruitment.errors.count, "error") %> prohibited this recruitment from being saved:</h2>

      <ul>
        <% recruitment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<form action="/inform/toukou/" method="get">

  <label for="mail">è¿”ä¿¡å…ˆ:<input type="text" id="mail" name="re_id"><br>
    <textarea name="ht1" rows="20" cols="50" maxlength="1000">
</textarea><br>
    <input type="submit" name="button" value="ç™ºè¨€"/>
</form>
  <table class="form" align="left">
  <td>
    <%= form.label :ç™ºè¨€ %>
    <%= form.text_area :detail %>
    <div class="field">
      <%= form.label :æ·»ä»˜ %>
      <%= form.number_field :file_id %>
    </div>
  </td>
    <td>
      <div class="actions">
        <%= form.submit"é€ä¿¡ðŸ“¤" %>
      </div>
    </td>

  </table>

<% end %>