<h2>å‹Ÿé›†å…¥åŠ›ãƒ•ã‚©ãƒ¼ãƒ äºˆå®šåœ°</h2>

<%= form_with(model: recruitment, local: true) do |form| %>
  <% if recruitment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruitment.errors.count, "error") %> prohibited this recruitment from being saved:</h2>

      <ul>
        <% recruitment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="form">
    <td>
    <div class="field">
      <%= form.label :ã‚¿ã‚¤ãƒˆãƒ« %>
      <%= form.text_field :title %>
    </div>

      <div class="field"ã€€>
      <%= form.label :å‹Ÿé›† %>
        <%= form.text_area :detail,rows:"5",cols:"50",maxlength:"1000"%>
    </div>
    </td>
    <td>
    <div class="actions">
      <%= form.submit"é€ä¿¡ðŸ“¤" %>
    </div>
    </td>
  </table>

<% end %>
