<h2>募集入力フォーム予定地</h2>

<%= form_with(model: recruitment, local: true) do |form| %>
  <% if recruitment.errors.any? %>
    <div id="error_explanation">
      <h2><%= recruitment.errors.count %>個のエラーがあります:</h2>

      <ul>
        <% recruitment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="form">
    <td>
    <div class="field">
      <%= form.label :タイトル %>
      <%= form.text_field :title %>
    </div>

      <div class="field"　>
      <%= form.label :募集 %>
        <%= form.text_area :detail,rows:"5",cols:"50",maxlength:"1000"%>
    </div>
    </td>
    <td>
    <div class="actions">
      <%= form.submit"送信📤" %>
    </div>
    </td>
  </table>

<% end %>
