<h2>å‹Ÿé›†å…¥åŠ›ãƒ•ã‚©ãƒ¼ãƒ äºˆå®šåœ°</h2>

<%= form_with(model: recruitment, local: true) do |form| %>
  <% if recruitment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruitment.errors.count, "error") %> prohibited this recruitment from being saved:</h2>

      <ul>
        <% recruitment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="form">
    <td>
    <div class="field">
      <%= form.label :ã‚¿ã‚¤ãƒˆãƒ« %>
      <%= form.text_field :title %>
    </div>
      <div class="field"ã€€>
      <%= form.label :å‹Ÿé›† %>
        <%= form.text_area :detail,rows:"5",cols:"50",maxlength:"1000"%>
    </div>
    </td>
    <td>
    <div class="actions">
      <!--====================ã‚¿ã‚°æ¤œç´¢æƒ…å ±====================-->
      <input type="hidden" name="school" value="<% @inputtag.school %>">
      <input type="hidden" name="faculty" value="<% @inputtag.faculty %>">
      <input type="hidden" name="department" value="<% @inputtag.department %>">
      <input type="hidden" name="tag1" value="<% @inputtag.tag1 %>">
      <input type="hidden" name="tag2" value="<% @inputtag.tag2 %>">
      <input type="hidden" name="tag3" value="<% @inputtag.tag3 %>">
      <input type="hidden" name="tag4" value="<% @inputtag.tag4 %>">
      <input type="hidden" name="tag5" value="<% @inputtag.tag5 %>">
      <input type="hidden" name="tag6" value="<% @inputtag.tag6 %>">
      <input type="hidden" name="tag7" value="<% @inputtag.tag7 %>">
      <!--====================ã‚¿ã‚°æ¤œç´¢æƒ…å ±====================-->
      <%= form.submit"é€ä¿¡ðŸ“¤" %>
    </div>
    </td>
  </table>

<% end %>
