
<h2>ã‚¿ã‚¤ãƒ ãƒ©ã‚¤ãƒ³è¡¨ç¤ºçª“</h2>

<table>
  <% @recruitments.each do |recruitment| %>
    <div class="box">
      <span><%= recruitment.created_at %></span>
      <span><%= recruitment.acc_id %></span>
      <span>
      <%= link_to 'è¿”ä¿¡ðŸ“¨', comments_index_path(recruitment.id), method: :get  %>
        </span>
      <span>
     <% if current_account.acc_id == recruitment.acc_id %>
           <% if recruitment.re_id == 'å‹Ÿé›†' && recruitment.resolved == 'æœªè§£æ±º' %>
          <%= link_to 'å‹Ÿé›†çµæžœé¸æŠž', root_path(recruitment.id), method: :get  %>
            <% end %>
      <%= link_to 'å‰Šé™¤ðŸš®', recruitment, method: :delete, data: { confirm: 'å‰Šé™¤ã—ã¾ã™ã‹?' } %>
    <%end %>
        </span>
      <div><%= recruitment.detail %></div>
      <br>
    </div>
  <% end %>
</table>