
<h2>å‹Ÿé›†è¡¨ç¤ºçª“</h2>

<table>
  <% @recruitments.order("update_time DESC").each do |recruitment| %>
    <div class="box">
      <div><%= recruitment.title %></div>
      <span><%= recruitment.post_time %></span>
      <span><%= recruitment.acc_id %></span>
      <span>
     <% if current_account.acc_id == recruitment.acc_id %>
      <%= link_to 'å‰Šé™¤ðŸš®', recruitment, method: :delete, data: { confirm: 'å‰Šé™¤ã—ã¾ã™ã‹?' } %>
    <%end %>
        </span>
      <div><%= recruitment.detail %></div>
    </div>
    <br>
  <% end %>
</table>
