
<h2>ç™ºè¨€è¡¨ç¤ºçª“</h2>

<table>
  <% @recruitments.where("re_id = 'ç™ºè¨€'").order("updated_at DESC").each do |recruitment| %>
    <div class="box">
      <span><%= recruitment.acc_id %></span>
      <span><%= link_to account_show_path(recruitment.acc_id) do %>
          <%= recruitment.name %>
        <% end %>
      </span>
      <span><%= recruitment.created_at %></span>

      <span>
      <%= link_to 'è¿”ä¿¡', comments_index_path(recruitment.id), method: :get %>
        </span>
      <span>
     <% if current_account.acc_id == recruitment.acc_id %>
      <%= link_to 'å‰Šé™¤ðŸš®', recruitment, method: :delete, data: { confirm: 'å‰Šé™¤ã—ã¾ã™ã‹?' } %>
    <%end %>
        </span>
      <div><%= recruitment.detail %></div>
      <br>
        </div>
  <% end %>
</table>
