<%= stylesheet_link_tag "box", :media => "all" %>
<h2>ã‚¿ã‚¤ãƒ ãƒ©ã‚¤ãƒ³è¡¨ç¤ºçª“</h2>
<%  %>
<table>
  <% @comments.join(:@recruitments).order("update_time DESC").each do |comment| %>
    <div class="box">
      <span><%= comment.post_time %></span>
      <span><%= comment.acc_id %></span>
      <span>
     <% if $account.acc_id == comment.acc_id %>
      <%= link_to 'å‰Šé™¤ðŸš®', comment, method: :delete, data: { confirm: 'å‰Šé™¤ã—ã¾ã™ã‹?' } %>
    <%end %>
        </span>
      <div><%= comment.message %></div>
      <br>
    </div>
  <% end %>
</table>
