
<h2>å‹Ÿé›†è¡¨ç¤ºçª“</h2>

<table>
  <% @recruitments.each do |recruitment| %>
    <% if recruitment.re_id == 'å‹Ÿé›†'%>
      <div class="box">
        <div>
          <%= recruitment.title %>
        </div>
          <%= link_to account_show_path(recruitment.acc_id) do %>
          <span>
            <%= Account.find_by(acc_id: recruitment.acc_id).name %>
          </span>
        <% end %>
        <span><%= recruitment.acc_id %></span>
        <span><%= recruitment.created_at %></span>

        <span>
        <%= link_to 'è¿”ä¿¡', comments_index_path(recruitment.id), method: :get  %>
          </span>
        <span>
       <% if current_account.acc_id == recruitment.acc_id %>
            <% if recruitment.resolved == 'æœªè§£æ±º' %>
            <%= link_to 'å‹Ÿé›†çµæžœé¸æŠž', root_path(recruitment.id), method: :get  %>
              <% end %>
        <%= link_to 'å‰Šé™¤ðŸš®', recruitment, method: :delete, data: { confirm: 'å‰Šé™¤ã—ã¾ã™ã‹?' } %>
      <%end %>
          </span>
        <div><%= recruitment.detail %></div>
      </div>
      <br>
    <% end %>
  <%end %>
</table>

