
<% if !account_signed_in? %>
  <h1> 閲覧画面(ログイン前) </h1>
<% else %>
  <h1> 閲覧画面(ログイン後) </h1>
<% end %>
<%= render 'devise/shared/accounts_accessor' %>

<div>
  <%= render :partial =>'tags/form' , inputtag: @inputtag , taghistoryid: @taghistoryid%>
</div>

<br>
<table class="button">
  <%= button_to '最新を読み込む🔁', root_path, method: :get %>
</table>
<%= render 'mains/button' %>
<table class="view">
  <% if $view_num == '1'%>
      <%= render 'mains/view_t', recruitment: @recruitments %>
  <% end %>
  <% if $view_num == '2'%>
    <%= render 'mains/view', recruitment: @recruitments %>
  <% end %>
  <% if $view_num == '3'%>
    <%= render 'mains/view_r', recruitment: @recruitments %>
  <% end %>
  <% if $view_num == '4'%>
      <%= render 'mains/view_s', recruitment: @recruitments %>
  <% end %>
</table>
<%= button_to "もっと読み込む", mains_add_path(@recruitments.size.to_s), method: :get, remote: true %>

<% if account_signed_in? %>
  <%= render 'mains/button_f', recruitment: @recruitment%>
  <table align="left">
    <% if $view_com_num == '5' %>
    <td>
<%= render 'mains/form', recruitment: @recruitment, inputtag: @inputtag %>
    </td>
      <% end %>
    <% if $view_com_num == '6' %>
    <td>
    <%= render 'mains/form_r', recruitment: @recruitment, inputtag: @inputtag %>
    </td>
    <% end %>
  </table>
<% end %>