
<% if !account_signed_in? %>
  <h1> 閲覧画面(ログイン前) </h1>
<% else %>
  <h1> 閲覧画面(ログイン後) </h1>
<% end %>

<%= render 'devise/shared/accounts_accessor' %>

<div>
  <%= render :partial =>'tags/form' , inputtag: @inputtag , taghistoryid: @taghistoryid%>
</div>

<table>
  <tr>
    <td>
      <% if account_signed_in? %>
        <table align="left">
          <tr>
            <td>
              <%= render 'mains/form', comment: @comment %>
            </td>
            <td>
              <%= render 'mains/form_r', recruitment: @recruitment %>
            </td>
          </tr>

        </table>
      <% end %>
    </td>
  </tr>

  <tr>
    <td>

      <table class="button">
        <%= button_to '更新🔁', root_path, method: :get %>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <%= render 'mains/button' %>

      <table>
        <% if $view_num == '1' ||  $view_num == '2'%>
          <td>
            <!--<%= render 'mains/view', comments: @comments %>-->
          </td>
        <% end %>

        <% if $view_num == '1' ||  $view_num == '3'%>
          <td>
            <!--<%= render 'mains/view_r', recruitment: @recruitments %>-->
          </td>
        <% end %>
      </table>
    </td>
  </tr>

</table>