
<div class="result">
  <table border="2">
    <tr>
      <td>
        <%= result.acc_id %>
      </td>
      <td><%= result.created_at %></td>
    </tr>
    <tr>
      <td colspan="2"><%= simple_format(result.message) %></td>
    </tr>
    <tr>
      <td colspan="2">
        <div class=<%= "result_" + result.acc_id%>>
          <% if (find = EntryChat.find_by(chat_id: recruitment_id, acc_id: result.acc_id)).nil? %>
            <%= render partial: "select", locals: {entry_chat: entry_chat, recruitment_id: recruitment_id, result_acc_id: result.acc_id } %>
          <% else %>
            <%= render partial: "selected", locals: {entry_chat: find } %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
</div>
