<!DOCTYPE html>
<html>
  <head>

    <title>学生向けコミュニティシステム</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= stylesheet_link_tag "common_layout.css", :media => "all" %>
    <header><!------ヘッダー------>
      <p class="header_title"><%= link_to "学生向けコミュニティシステム", root_path %></p>
      <nav>
        <ul class="header_menu">
          <li><%= render 'devise/shared/accounts_accessor' %></li>
        </ul>
      </nav>
    </header><!--ヘッダーここまで-->
    <div class="container">
      <div id="flash_message">
        <%= render 'layouts/flash_message', notice: notice, alert: alert %>
      </div>
      <span class="common_style">
        <%= yield %>
      </span>
    </div>

    <footer><!-------フッダー-- ---->
    </footer><!---フッダーここまで--->
    <div id="floating-ad-left"><div style="height: 500px;width: 150px;background-color: whitesmoke">広告</div></div>
    <div id="floating-ad-right"><div style="height: 500px;width: 150px;background-color: whitesmoke">広告</div></div>
    <div id="layer"></div>
    <!-- ポップアップ -->
    <div id="popup">
      <div>popup</div>
      <input type="button" id="close" value="close popup">
    </div>
  </body>
</html>
