<!DOCTYPE html>
<html>
  <head>
    <title>Untitled</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if account_signed_in? %>
      <p><%= link_to "ログアウト", destroy_account_session_path, method: :delete %></p>
    <% else %>
      <p><%= link_to "ログイン", new_account_session_path, method: :get %></p>
    <% end %>
  </body>
</html>
