<%= stylesheet_link_tag "box.css", :media => "all" %>
<p id="notice"><%= notice %></p>
<table>
  <thead>
  <tr>
    <th>ID/</th>
    <th>チャットID/</th>
    <th>アカウントID/</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @chat_members.each do |entry_chat| %>
    <tr>
      <td><%= entry_chat.id %></td>
      <td><%= entry_chat.chat_id %></td>
      <td><%= entry_chat.acc_id %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<table class="button">
  <div class="button1">
    <div class="on">
  <%= button_to 'チャットに戻る', chat_comments_index_path(@chat_num), method: :get %>
    </div>
  </div>
</table>
